.sidebar {
	margin-left: auto;
	margin-right: auto;
	max-width: $contentWidth;
	width: calc(100% - 2.5rem);

	.widget {
		border: 1px solid;
		@include border-color(--widget-border-color);
		padding: 1.5rem 1.5rem 0;
		margin-bottom: 1.25rem;
	}

	.widget-title {
		position: relative;
		margin-top: 0;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		@include color(--widget-title-color);
		@include font-size(22);
		@include font-family(--title-font);
		@include font-weight(--title-font-weight);
		@include text-transform(--title-text-transform);

		&::before {
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 3rem;
			height: 4px;
			content: "";
			@include background(--widget-title-border-color);
		}
	}

	.widget > ul a:link,
	.widget > ul a:visited,
	.widget > ol a:link,
	.widget > ol a:visited,
	.widget .menu-navigation-container > ul a:link,
	.widget .menu-navigation-container > ul a:visited {
		text-decoration: none;
	}

	.widget > ul a:hover,
	.widget > ul a:active,
	.widget > ol a:hover,
	.widget > ol a:active,
	.widget .menu-navigation-container > ul a:hover,
	.widget .menu-navigation-container > ul a:active {
		text-decoration: underline;
	}
}

@media only screen and (min-width: 480px) {
	.sidebar {
		width: calc(100% - 3rem);

		.widget {
			padding: 2rem 2rem 0;
			margin-bottom: 1.5rem;
		}
	}
}

@media only screen and (min-width: 640px) {
	.sidebar {
		width: calc(100% - 3.5rem);

		.widget {
			margin-bottom: 2rem;
		}
	}
}

@media only screen and (min-width: 880px) {
	.has-sidebar {
		.site-content {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			max-width: $contentFullwidth;
			width: calc(100% - 4rem);

			.site-main {
				flex-basis: 70%;

				.entry-header,
				.entry-content > *,
				.comments-area,
				.entry-content > .alignwide,
				.entry-content > .alignfull {
					margin-left: 0;
					margin-right: 0;
					max-width: 100%;
					width: auto;
				}
			}

			.sidebar {
				margin: 0;
				width: auto;
				max-width: 100%;
				min-width: 300px;
				padding-left: 2rem;
				flex-grow: 1;
				flex-basis: 30%;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content {
		.site-main {
			order: 2;
		}

		.sidebar {
			order: 1;
			padding-left: 0;
			padding-right: 2rem;
		}
	}
}

@media only screen and (min-width: 960px) {
	.sidebar {
		.widget {
			margin-bottom: 2.5rem;
		}
	}

	.has-sidebar {
		.site-content {
			.sidebar {
				padding-left: 2.5rem;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content .sidebar {
		padding-right: 2.5rem;
	}
}

@media only screen and (min-width: 1120px) {
	.sidebar {
		.widget {
			margin-bottom: 3rem;
		}
	}

	.has-sidebar {
		.site-content {
			.sidebar {
				padding-left: 3rem;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content .sidebar {
		padding-right: 3rem;
	}
}

@media only screen and (min-width: 1280px) {
	.sidebar {
		.widget {
			margin-bottom: 4rem;
		}
	}

	.has-sidebar {
		.site-content {
			.sidebar {
				padding-left: 4rem;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content .sidebar {
		padding-right: 4rem;
	}
}

@media only screen and (min-width: 1440px) {
	.has-sidebar {
		.site-content {
			.sidebar {
				padding-left: 5rem;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content .sidebar {
		padding-right: 5rem;
	}
}
