.header-bar {
	padding: 0.25rem 0.75rem;
	@include color(--header-bar-text-color);
	@include background(--header-bar-color);
}

.header-bar-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-bar a:link,
.header-bar a:visited {
	@include color(--header-bar-text-color);
	text-decoration: underline;
}

.header-bar a:hover,
.header-bar a:active {
	text-decoration: none;
}

/* Contact Info */
.header-bar-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0.25rem 0;
	@include font-size(15);

	.header-phone,
	.header-email,
	.header-address {
		display: flex;
		align-items: center;
		margin-right: 1.5rem;

		.icon {
			margin: 0 0.25rem 0 0;
			width: 18px;
			height: 18px;
			@include fill(--header-bar-icon-color);
		}

		.icon-mail {
			margin-top: 2px;
		}
	}
}
