.header-bar {
	padding: 0.25rem 1rem;
	@include color(--header-bar-text-color);
	@include background(--header-bar-color);
}

.header-bar-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-bar a:link,
.header-bar a:visited {
	@include color(--header-bar-text-color);
}

.header-bar a:hover,
.header-bar a:active {
	@include color(--header-bar-hover-color);
}

/* Contact Info */
.header-bar-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0.25rem 0;
	@include font-size(15);

	.header-phone,
	.header-email,
	.header-address {
		display: flex;
		margin-right: 1.5rem;
	}
}
