button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 0;
	padding: 0.75rem 1.25rem;
	border: none;
	@include color(--button-text-color);
	@include background(--button-color);
	text-decoration: none;
	font-weight: bold;
	@include font-size(15);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	@include color(--button-text-hover-color);
	@include background(--button-hover-color);
	text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.4rem 0.8rem;
	max-width: 100%;
	border: 1px solid;
	@include border-color(--light-border-color);
	background: none;
	color: #777;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid;
	@include border-color(--medium-border-color);
	@include color(--text-color);
	outline: none;
}

textarea {
	width: 100%;
}

/* Search Form */
.search-form {
	display: flex;
	margin: 0;
	padding: 0;
}

.search-form label {
	flex-grow: 1;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5rem 0.8rem;
	min-width: 150px;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	display: flex;
	margin-left: 0.5rem;
	padding: 0.5rem 0.8rem;
	align-items: center;
}

.search-form .search-submit .icon-search {
	width: 22px;
	height: 22px;
	fill: currentColor;
}
