.comments-area {
	margin: 0 0 1.25rem;
	padding: 0;
	clear: both;
}

/* Comment Header */
.comments-title,
.comment-reply-title {
	position: relative;
	margin: 0 0 2rem;
	padding: 0 0 1rem;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(22);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);

	&::before {
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 4rem;
		height: 4px;
		content: "";
		@include background(--title-border-color);
	}
}

/* Comment List */
.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment,
.trackback,
.pingback {
	margin: 0 0 1.5rem;
	padding: 0 0 1.5rem;
	@include font-size(16);
	border-bottom: 1px solid;
	@include border-color(--comments-border-color);
}

.comment .comment-body {
	display: block;
	margin: 0;
	padding: 0;
}

.comment-list > .comment:last-child {
	border-bottom: none;
}

/* Comment Meta */
.comment-meta {
	float: left;
	padding: 0;
	width: 100%;
}

.comment-meta .comment-author img {
	float: left;
	margin-right: 1rem;
}

.bypostauthor {
	display: block;
}

.comment-meta .comment-metadata {
	margin-top: 0.3em;
	@include font-size(15);
	@include color(--post-meta-color);
}

.comment-meta .comment-metadata a {
	margin-right: 1rem;
}

.comment-meta .comment-metadata a:link,
.comment-meta .comment-metadata a:visited {
	@include color(--post-meta-color);
	text-decoration: none;
}

.comment-meta .comment-metadata a:hover,
.comment-meta .comment-metadata a:active {
	@include color(--text-color);
}

.comment-awaiting-moderation {
	display: block;
	margin-top: 1.5rem;
}

/* Comment Content */
.comment-content {
	clear: left;
	padding: 1.5rem 0 0;
}

.comment ol.children {
	margin: 1.5rem 0 0;
	padding-left: 2rem;
	list-style: none;
}

.comment ol.children .comment {
	margin: 0;
	padding: 1.5rem 0 0;
	border-top: 1px solid;
	@include border-color(--comments-border-color);
	border-bottom: none;
}

/* Pingbacks and Trackbacks */
.trackback,
.pingback {
	.comment-meta {
		float: none;

		.comment-author .says {
			display: none;
		}

		.comment-metadata {
			@include font-size(15);
		}
	}

	.comment-content {
		display: none;
	}
}

/* Comment Reply */
.comment .reply {
	@include font-size(15);
}

.comment .comment-respond {
	margin: 1.5rem 0 0;
	padding: 1.5rem 0 0;
	border-top: 1px solid;
	@include border-color(--comments-border-color);
}

/* Comment Pagination */
.comment-navigation {
	margin: 0 0 1rem;
	padding: 1rem;
}

.comment-navigation .nav-previous {
	float: left;
}

.comment-navigation .nav-next {
	float: right;
}

.comment-navigation a:link,
.comment-navigation a:visited {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.comment-navigation a:hover,
.comment-navigation a:active {
	@include color(--text-color);
}

.comment-navigation .nav-previous a::before {
	margin-right: 5px;
	content: "\2190";
}

.comment-navigation .nav-next a::after {
	margin-left: 5px;
	content: "\2192";
}

/* Comment Form */
.comment-form {
	padding: 0;
	@include font-size(16);
}

.comment-form .logged-in-as {
	@include font-size(15);
}

.comment-form label {
	display: inline-block;
	min-width: 150px;
	font-weight: bold;
}

.comment-form textarea {
	margin-top: 0.5rem;
}

.comment-form .form-submit {
	margin-bottom: 0;
}

.comment-form input[type="checkbox"] + label {
	display: inline;
	padding-left: 0.5em;
	font-weight: normal;
}

.comment-reply-title small a {
	margin-left: 1rem;
	text-transform: none;
	@include font-size(15);
	font-weight: normal;
}
