/* Fullwidth Page Template */
body.page-template-template-fullwidth,
body.page-template-template-fullwidth-no-title {
	.site-content .site-main {
		max-width: $contentFullwidth;

		.entry-content > .alignwide {
			max-width: $wideBlockFullwidth;
		}

		.entry-content > .alignwide,
		.entry-content > .alignfull {

			> [class*="__inner-container"] > * {
				max-width: $contentFullwidth;

				&.alignwide {
					max-width: $wideBlockFullwidth;
				}

				&.alignfull {
					max-width: 100%;
				}
			}
		}
	}
}

/* Adjust Wide Blocks */
@media only screen and (min-width: 960px) {
	body.page-template-template-fullwidth,
	body.page-template-template-fullwidth-no-title {
		.entry-content > .alignwide {
			margin-left: calc(-100vw / 2 + 100% / 2 + 8px);
			margin-right: calc(-100vw / 2 + 100% / 2 + 8px);
		}
	}
}

@media only screen and (min-width: 1440px) {
	body.page-template-template-fullwidth,
	body.page-template-template-fullwidth-no-title {
		.entry-content > .alignwide {
			margin-left: -120px;
			margin-right: -120px;
		}
	}
}

/* No Title Page Template */
body.page-template-template-no-title .site-content,
body.page-template-template-fullwidth-no-title .site-content {
	padding-top: 0;
}
