/* Fullwidth Page Template */
body.page-template-template-fullwidth .site-content .site-main,
body.page-template-template-fullwidth-no-title .site-content .site-main {
	max-width: $contentFullwidth;
}

/* Adjust Wide Blocks */
@media only screen and (min-width: 960px) {
	body.page-template-template-fullwidth .entry-content > .alignwide,
	body.page-template-template-fullwidth-no-title .entry-content > .alignwide {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}
}

@media only screen and (min-width: 1440px) {
	body.page-template-template-fullwidth .entry-content > .alignwide,
	body.page-template-template-fullwidth-no-title .entry-content > .alignwide {
		margin-left: -120px;
		margin-right: -120px;
		max-width: $wideBlockFullwidth;
	}
}

/* No Title Page Template */
body.page-template-template-no-title .site-content,
body.page-template-template-fullwidth-no-title .site-content {
	padding-top: 0;
}
