/* Fullwidth Page Template */
body.page-template-template-fullwidth,
body.page-template-template-fullwidth-no-title {
	.entry-header,
	.entry-content > *,
	.comments-area {
		max-width: $contentFullwidth;
	}

	.entry-content > .alignwide {
		max-width: $wideBlockFullwidth;
	}

	.entry-content > .alignfull {
		max-width: 100%;
	}
}

/* No Title Page Template */
body.page-template-template-no-title .site-content,
body.page-template-template-fullwidth-no-title .site-content {
	padding-top: 0;
}
