/*
 * Customizer Controls CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package GT Drive
 */

/* Settings */
#customize-control-gt_drive_theme_options-site_description {
	margin-bottom: 16px;
}

#customize-control-gt_drive_theme_options-site_title {
	margin-bottom: 4px;
}

#customize-control-gt_drive_theme_options-retina_logo_title {
	margin-bottom: 0;
}

#customize-control-gt_drive_theme_options-header_search_title,
#customize-control-gt_drive_theme_options-scroll_top_title,
#customize-control-gt_drive_theme_options-post_details,
#customize-control-gt_drive_theme_options-single_post {
	margin-top: 16px;
	margin-bottom: 0;
}

#customize-control-gt_drive_theme_options-meta_date,
#customize-control-gt_drive_theme_options-meta_author,
#customize-control-gt_drive_theme_options-meta_categories,
#customize-control-gt_drive_theme_options-meta_tags {
	margin-bottom: 4px;
}

/* Custom Font Control */
.customize-control-gt_drive_custom_font {
	margin-top: 24px;
}

#customize-control-text_font {
	margin-top: 0;
}

.customize-control-gt_drive_custom_font .actions .button.previous {
	margin-right: 4px;
}

.customize-control-gt_drive_custom_font .actions .button.standard {
	float: right;
}

.customize-control-gt_drive_custom_font select {
	width: 100%;
}

.customize-control-gt_drive_custom_font div:hover {
	cursor: default;
}

.customize-control-gt_drive_custom_font .actions .button:hover {
	cursor: pointer;
}

/* Typography Checkbox Controls */
#sub-accordion-section-gt_drive_section_typography .customize-control-checkbox {
	margin-bottom: 0;
}
