/*
 * Editor Styles
 *
 * @package GT Drive
 */

/*--------------------------------------------------------------
# - Variables
--------------------------------------------------------------*/
:root {
	--primary-color: #e34333;
	--secondary-color: #c92919;
	--accent-color: #33a2e3;
	--highlight-color: #7aca56;
	--light-gray-color: #e0e0e0;
	--gray-color: #808080;
	--dark-gray-color: #303030;
	--text-color: #303030;
	--light-text-color: rgba(0, 0, 0, 0.5);
	--light-background-color: rgba(0, 0, 0, 0.05);
	--medium-background-color: rgba(0, 0, 0, 0.15);
	--light-border-color: rgba(0, 0, 0, 0.1);
	--medium-border-color: rgba(0, 0, 0, 0.3);
	--link-color: #e34333;
	--link-hover-color: #c92919;
	--button-color: #e34333;
	--button-text-color: #fff;
	--button-hover-color: #c92919;
	--button-text-hover-color: #fff;
	--header-bar-color: #fff;
	--header-bar-text-color: #303030;
	--header-bar-icon-color: #e34333;
	--header-color: #c92919;
	--header-text-color: #fff;
	--header-hover-color: rgba(255, 255, 255, 0.5);
	--title-color: #303030;
	--title-hover-color: #e34333;
	--title-border-color: #e34333;
	--post-meta-color: rgba(0, 0, 0, 0.5);
	--widget-title-color: #303030;
	--widget-title-border-color: #e34333;
	--widget-border-color: rgba(0, 0, 0, 0.1);
	--comments-border-color: rgba(0, 0, 0, 0.1);
	--footer-background-color: #202020;
	--footer-text-color: rgba(255, 255, 255, 0.5);
	--footer-link-color: rgba(255, 255, 255, 0.95);
	--footer-link-hover-color: rgba(255, 255, 255, 0.5);
	--footer-border-color: rgba(255, 255, 255, 0.1);
	--text-font: "Roboto", arial, helvetica, sans-serif;
	--title-font: "Roboto", arial, helvetica, sans-serif;
	--navi-font: "Roboto", arial, helvetica, sans-serif;
	--title-font-weight: bold;
	--navi-font-weight: bold;
	--title-text-transform: none;
	--navi-text-transform: none;
	--text-line-height: 1.75;
	--title-line-height: 1.25;
}

/*--------------------------------------------------------------
# - Layout
--------------------------------------------------------------*/
.wp-block {
	max-width: calc(800px + 30px);
}

.wp-block[data-align="wide"] {
	max-width: calc(1040px + 30px);
}

.wp-block[data-align="full"] {
	max-width: none;
}

/* Fullwidth Template */
.gt-fullwidth-page-layout .wp-block {
	max-width: calc(1200px + 30px);
}

.gt-fullwidth-page-layout .wp-block[data-align="wide"] {
	max-width: calc(1440px + 30px);
}

/* Page Title */
.editor-post-title__block .editor-post-title__input {
	font-size: 28px;
	font-size: 1.75rem;
	font-family: "Roboto", arial, helvetica, sans-serif;
	font-family: var(--title-font);
	font-weight: bold;
	font-weight: var(--title-font-weight);
	text-transform: none;
	text-transform: var(--title-text-transform);
	line-height: 1.25;
	line-height: var(--title-line-height);
}

.editor-post-title__block > div {
	padding-bottom: 0.5rem;
}

.editor-post-title__block > div::before {
	display: inline-block;
	position: absolute;
	left: 1rem;
	bottom: 0;
	width: 4rem;
	height: 4px;
	content: "";
	background-color: #e34333;
	background-color: var(--title-border-color);
}

@media only screen and (min-width: 640px) {
	.editor-post-title__block .editor-post-title__input {
		font-size: 34px;
		font-size: 2.125rem;
	}
}

@media only screen and (min-width: 960px) {
	.editor-post-title__block .editor-post-title__input {
		font-size: 40px;
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 1280px) {
	.editor-post-title__block .editor-post-title__input {
		font-size: 48px;
		font-size: 3rem;
	}
}

/* Hidden Page Title */
body.gt-page-title-hidden.block-editor-page .edit-post-visual-editor .editor-post-title {
	background-color: #fff;
	background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

/*--------------------------------------------------------------
# - Elements
--------------------------------------------------------------*/

/* Typography */
.editor-styles-wrapper {
	background: #fff;
	color: #303030;
	color: var(--text-color);
}

.editor-styles-wrapper > * {
	font-family: "Roboto", arial, helvetica, sans-serif;
	font-family: var(--text-font);
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 1.75;
	line-height: var(--text-line-height);
}

.editor-styles-wrapper .wp-block p {
	font-family: "Roboto", arial, helvetica, sans-serif;
	font-family: var(--text-font);
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
	line-height: var(--text-line-height);
	margin-bottom: 1.5em;
}

@media only screen and (min-width: 640px) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		font-size: 17px;
		font-size: 1.0625rem;
	}
}

@media only screen and (min-width: 960px) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

@media only screen and (min-width: 1280px) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		font-size: 19px;
		font-size: 1.1875rem;
	}
}

.editor-styles-wrapper a {
	color: #e34333;
	color: var(--link-color);
}

.editor-styles-wrapper .has-text-color a {
	color: inherit;
}

/* Headings */
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6 {
	clear: both;
	margin: 1em 0 0.75em;
	font-family: "Roboto", arial, helvetica, sans-serif;
	font-family: var(--title-font);
	line-height: 1.25;
	line-height: var(--title-line-height);
}

.editor-styles-wrapper .wp-block h1 {
	font-size: 36px;
	font-size: 2.25rem;
}

.editor-styles-wrapper .wp-block h2 {
	font-size: 28px;
	font-size: 1.75rem;
}

.editor-styles-wrapper .wp-block h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

.editor-styles-wrapper .wp-block h4 {
	font-size: 22px;
	font-size: 1.375rem;
}

.editor-styles-wrapper .wp-block h5 {
	font-size: 20px;
	font-size: 1.25rem;
}

.editor-styles-wrapper .wp-block h6 {
	font-size: 19px;
	font-size: 1.1875rem;
}

/* Separator */
.editor-styles-wrapper hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: rgba(0, 0, 0, 0.1);
	background-color: var(--light-border-color);
}

/* Code */
.editor-styles-wrapper pre {
	overflow: auto;
	margin-bottom: 1.5em;
	padding: 1.5em;
	max-width: 100%;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-color: var(--light-border-color);
	background-color: rgba(0, 0, 0, 0.05);
	background-color: var(--light-background-color);
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
}

.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper tt,
.editor-styles-wrapper var {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: rgba(0, 0, 0, 0.05);
	background-color: var(--light-background-color);
	color: inherit;
	border-radius: 3px;
	padding: 2px 4px;
}

/* Blockquotes */
.editor-styles-wrapper blockquote {
	margin: 0 0 1.5em;
	padding-left: 1.5em;
	border-left: 4px solid;
	border-color: #303030;
	border-color: var(--text-color);
	color: rgba(0, 0, 0, 0.5);
	color: var(--light-text-color);
	font-size: 18px;
	font-size: 1.125rem;
}

.editor-styles-wrapper blockquote p {
	margin-bottom: 0.75em;
}

.editor-styles-wrapper blockquote cite,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote .wp-block-pullquote__citation {
	display: block;
	color: #303030;
	color: var(--text-color);
	font-size: 16px;
	font-size: 1rem;
	text-transform: none;
	font-style: inherit;
}

.editor-styles-wrapper blockquote cite::before,
.wp-block-quote cite::before,
.wp-block-quote footer::before,
.wp-block-quote__citation::before,
.wp-block-pullquote cite::before,
.wp-block-pullquote footer::before,
.wp-block-pullquote .wp-block-pullquote__citation::before {
	content: "\2014\00a0";
}

/* Lists */
.editor-styles-wrapper .block-library-list ol,
.editor-styles-wrapper .block-library-list ul {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.25em;
}

.editor-styles-wrapper .block-library-list li > ul,
.editor-styles-wrapper .block-library-list li > ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
}

.editor-styles-wrapper .block-library-list ul {
	list-style: circle;
}

/* Tables */
.editor-styles-wrapper table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
	table-layout: fixed;
}

.editor-styles-wrapper th,
.editor-styles-wrapper td {
	padding: 0.4em 0.6em;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-color: var(--light-border-color);
}

.editor-styles-wrapper th {
	font-weight: normal;
	text-align: inherit;
	background-color: rgba(0, 0, 0, 0.05);
	background-color: var(--light-background-color);
}

/* Captions */
figcaption,
.wp-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-audio figcaption {
	font-size: 15px;
	font-size: 0.9375rem;
	color: rgba(0, 0, 0, 0.5);
	color: var(--light-text-color);
}

.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-audio figcaption {
	margin: 0.5em 0 1em;
	max-width: 100%;
	width: auto !important;
	text-align: center;
}

/*--------------------------------------------------------------
# - Blocks
--------------------------------------------------------------*/

/* Block Spacing */
.wp-block-audio,
.wp-block-embed,
.wp-block-media-text,
.wp-block-gallery,
.wp-block-cover {
	margin-bottom: 1.5em;
}

/* Paragraph Block */
p.has-background {
	padding: 1em 1.5em;
}

.has-drop-cap:not(:focus)::first-letter {
	font-size: 4em;
	line-height: 0.7;
	font-weight: bold;
}

/* Button Block */
.wp-block-button__link:link,
.wp-block-button__link:visited {
	text-decoration: none;
}

.wp-block-button__link:hover,
.wp-block-button__link:active {
	text-decoration: underline;
}

/* Image Block */
.wp-block-image img {
	vertical-align: top;
}

/* Cover Block */
.wp-block-cover,
.wp-block-cover-image {
	width: auto;
}

.wp-block-cover .wp-block-cover__inner-container > *:first-child,
.wp-block-cover-image .wp-block-cover__inner-container > *:first-child {
	margin-top: 0;
}

.wp-block-cover .wp-block-cover__inner-container > *:last-child,
.wp-block-cover-image .wp-block-cover__inner-container > *:last-child {
	margin-bottom: 0;
}

/* Gallery Block */
.wp-block-gallery {
	justify-content: center;
}

/* Separator Block */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 4rem;
	height: 4px;
	background-color: #e34333;
	background-color: var(--title-border-color);
}

/* Video Embed Block */
.wp-block-embed-vimeo.alignfull iframe {
	width: 100%;
}

/* Quote Block */
.wp-block-quote.is-style-large {
	border: none;
	margin: 0 0 1.5em;
	padding: 0;
	font-size: 24px;
	font-size: 1.5rem;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.wp-block-quote.is-style-large p {
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
	font-family: "Roboto", arial, helvetica, sans-serif;
	font-family: var(--text-font);
}

/* Pullquote Block */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-color: var(--light-border-color);
}

.wp-block-pullquote blockquote {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-size: 1.5rem;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.wp-block-pullquote p {
	font-size: inherit;
	line-height: inherit;
}

.wp-block-pullquote blockquote cite {
	color: #303030;
	color: var(--text-color);
	font-family: "Roboto", arial, helvetica, sans-serif;
	font-family: var(--text-font);
	font-style: normal;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	margin-bottom: 0.75em;
	font-size: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
	color: inherit;
}

/* GT Section Block */
.gt-background-section .gt-section-content.gt-default-width {
	max-width: 800px;
}

.gt-background-section .gt-section-content.gt-wide-width {
	max-width: 1040px;
}

.gt-background-section .gt-section-content.gt-full-width {
	max-width: 1200px;
}

/* Paragraph Block */
.editor-styles-wrapper p.has-background {
	padding: 1em 1.5em;
}

.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
	font-size: 4em;
	line-height: 0.7;
	font-weight: bold;
}

/* Table Block */
.wp-block-table td,
.wp-block-table th {
	padding: 0;
}

.wp-block-table__cell-content {
	padding: 0.4em 0.6em;
}

/* GT Section Block */
.gt-background-section .gt-section-content.gt-default-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
	max-width: calc(800px + 30px);
}

.gt-background-section .gt-section-content.gt-wide-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
	max-width: calc(1040px + 30px);
}

.gt-background-section .gt-section-content.gt-full-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
	max-width: calc(1200px + 30px);
}

/*--------------------------------------------------------------
# - Colors
--------------------------------------------------------------*/

/* Block Text Colors */
.has-primary-color {
	color: #e34333;
	color: var(--primary-color);
}

.has-secondary-color {
	color: #c92919;
	color: var(--secondary-color);
}

.has-accent-color {
	color: #33a2e3;
	color: var(--accent-color);
}

.has-highlight-color {
	color: #7aca56;
	color: var(--highlight-color);
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #e0e0e0;
	color: var(--light-gray-color);
}

.has-gray-color {
	color: #808080;
	color: var(--gray-color);
}

.has-dark-gray-color {
	color: #303030;
	color: var(--dark-gray-color);
}

.has-black-color {
	color: #000000;
}

/* Block Background Colors */
.has-primary-background-color {
	background-color: #e34333;
	background-color: var(--primary-color);
}

.has-secondary-background-color {
	background-color: #c92919;
	background-color: var(--secondary-color);
}

.has-accent-background-color {
	background-color: #33a2e3;
	background-color: var(--accent-color);
}

.has-highlight-background-color {
	background-color: #7aca56;
	background-color: var(--highlight-color);
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #e0e0e0;
	background-color: var(--light-gray-color);
}

.has-gray-background-color {
	background-color: #808080;
	background-color: var(--gray-color);
}

.has-dark-gray-background-color {
	background-color: #303030;
	background-color: var(--dark-gray-color);
}

.has-black-background-color {
	background-color: #000000;
}

/*--------------------------------------------------------------
# - Font Sizes
--------------------------------------------------------------*/

/* Block Font Sizes */
.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 24px;
}

.has-large-font-size {
	font-size: 36px;
}

.has-extra-large-font-size {
	font-size: 48px;
}

.has-huge-font-size {
	font-size: 64px;
}
