/* Table Block */
.wp-block-table td,
.wp-block-table th {
	padding: 0;
}

.wp-block-table__cell-content {
	padding: 0.4em 0.6em;
}

/* GT Section Block */
.gt-background-section .gt-section-content {
	&.gt-default-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: calc(#{$contentWidth} + 30px);
	}

	&.gt-wide-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: calc(#{$wideBlockWidth} + 30px);
	}

	&.gt-full-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: calc(#{$contentFullwidth} + 30px);
	}
}
