/* Typography */
.editor-styles-wrapper {
	@include color(--text-color);
	@include background(--body-background-color);
}

.editor-styles-wrapper > * {
	@include color(--text-color);
	@include font-family(--text-font);
	@include font-size(17);
	@include line-height(--text-line-height);
}

.editor-styles-wrapper .wp-block p {
	@include font-family(--text-font);
	@include font-size(16);
	@include line-height(--text-line-height);
	margin-bottom: 1.75rem;
}

@media only screen and (min-width: 640px) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		@include font-size(17);
	}
}

@media only screen and (min-width: 960px) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		@include font-size(18);
	}
}

@media only screen and (min-width: 1280px) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		@include font-size(19);
	}
}

/* Paragraph Block */
.editor-styles-wrapper p.has-background {
	padding: 1rem 1.5rem;
}

.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
	font-size: 4.5rem;
	line-height: 0.7;
	font-weight: bold;
}

.editor-styles-wrapper a {
	@include color(--link-color);
}

.editor-styles-wrapper .has-text-color a {
	color: inherit;
}

/* Headings */
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6 {
	clear: both;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	@include font-family(--title-font);
	@include line-height(--title-line-height);
}

.editor-styles-wrapper .wp-block h1 {
	@include font-size(36);
}

.editor-styles-wrapper .wp-block h2 {
	@include font-size(28);
}

.editor-styles-wrapper .wp-block h3 {
	@include font-size(24);
}

.editor-styles-wrapper .wp-block h4 {
	@include font-size(22);
}

.editor-styles-wrapper .wp-block h5 {
	@include font-size(20);
}

.editor-styles-wrapper .wp-block h6 {
	@include font-size(19);
}

/* Separator */
.editor-styles-wrapper hr {
	margin-bottom: 1.75rem;
	height: 1px;
	border: 0;
	@include background(--light-border-color);
}

/* Code */
.editor-styles-wrapper pre,
.wp-block-code {
	overflow: auto;
	margin-bottom: 1.75rem;
	padding: 1.75rem;
	max-width: 100%;
	border: 1px solid;
	border-radius: 0;
	@include border-color(--light-border-color);
	@include color(--text-color);
	@include background(--light-background-color);
	@include font-size(15);
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include line-height(--text-line-height);
}

.wp-block-code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

	.block-editor-plain-text {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background: none;
	}
}

.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper tt,
.editor-styles-wrapper var {
	@include font-size(15);
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	@include background(--light-background-color);
	color: inherit;
	border-radius: 3px;
	padding: 2px 4px;
}

/* Blockquotes */
.editor-styles-wrapper blockquote {
	margin: 0 0 1.75rem;
	padding-left: 1.75rem;
	border-left: 4px solid;
	@include border-color(--text-color);
	@include color(--light-text-color);
	@include font-size(18);
}

.editor-styles-wrapper blockquote p {
	margin-bottom: 0.75em;
}

.editor-styles-wrapper blockquote cite,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote .wp-block-pullquote__citation {
	display: block;
	@include color(--text-color);
	@include font-size(16);
	text-transform: none;
	font-style: inherit;

	&::before {
		content: "\2014\00a0";
	}
}

/* Lists */
.editor-styles-wrapper .block-library-list ol,
.editor-styles-wrapper .block-library-list ul {
	margin: 0 0 1.75rem;
	padding: 0 0 0 1.25rem;
}

.editor-styles-wrapper .block-library-list li > ul,
.editor-styles-wrapper .block-library-list li > ol {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	margin-left: 1.25rem;
}

.editor-styles-wrapper .block-library-list ul {
	list-style: circle;
}

/* Tables */
.editor-styles-wrapper table {
	margin: 0 0 1.75rem;
	width: 100%;
	border: none;
	table-layout: fixed;
}

.editor-styles-wrapper th,
.editor-styles-wrapper td {
	padding: 0.4em 0.6em;
	border: 1px solid;
	@include border-color(--light-border-color);
}

.editor-styles-wrapper th {
	font-weight: normal;
	text-align: inherit;
	@include background(--light-background-color);
}

.wp-block-table__cell-content {
	padding: 0;
}

/* Captions */
figcaption,
.wp-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-audio figcaption {
	@include font-size(15);
	@include color(--light-text-color);
}

.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-audio figcaption {
	margin: 0.75rem 0 1.25rem;
	max-width: 100%;
	width: auto !important;
	text-align: center;
}
