/* Block Spacing */
.wp-block-audio,
.wp-block-embed,
.wp-block-media-text,
.wp-block-gallery,
.wp-block-cover {
	margin-bottom: 1.5em;
}

/* Paragraph Block */
p.has-background {
	padding: 1em 1.5em;
}

.has-drop-cap:not(:focus)::first-letter {
	font-size: 4em;
	line-height: 0.7;
	font-weight: bold;
}

/* Button Block */
.wp-block-button__link:link,
.wp-block-button__link:visited {
	text-decoration: none;
}

.wp-block-button__link:hover,
.wp-block-button__link:active {
	text-decoration: underline;
}

/* Group Block */
.wp-block-group.has-background {
	padding: 2rem;
}

.wp-block-group.has-background > .wp-block-group__inner-container > *:first-child {
	margin-top: 0;
}

.wp-block-group.has-background > .wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

/* Nested Group Blocks */
.wp-block-group {
	.wp-block-group {
		margin-left: auto;
		margin-right: auto;
		max-width: $contentWidth;

		&.alignwide {
			max-width: $wideBlockWidth;
		}

		&.alignfull {
			max-width: 100%;
		}
	}
}

/* Image Block */
.wp-block-image {
	img {
		vertical-align: top;
	}
}

/* Cover Block */
.wp-block-cover,
.wp-block-cover-image {
	width: auto;

	.wp-block-cover__inner-container > *:first-child {
		margin-top: 0;
	}

	.wp-block-cover__inner-container > *:last-child {
		margin-bottom: 0;
	}
}

/* Gallery Block */
.wp-block-gallery {
	justify-content: center;
}

/* Separator Block */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 4rem;
	height: 4px;
	@include background(--title-border-color);
}

/* Video Embed Block */
.wp-block-embed-vimeo.alignfull iframe {
	width: 100%;
}

/* Quote Block */
.wp-block-quote.is-style-large {
	border: none;
	margin: 0 0 1.5em;
	padding: 0;
	@include font-size(24);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.wp-block-quote.is-style-large p {
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
	@include font-family(--text-font);
}

/* Pullquote Block */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
	border-bottom: 1px solid;
	border-top: 1px solid;
	@include border-color(--light-border-color);
}

.wp-block-pullquote blockquote {
	border: none;
	margin: 0;
	padding: 0;
	@include font-size(24);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.wp-block-pullquote p {
	font-size: inherit;
	line-height: inherit;
}

.wp-block-pullquote blockquote cite {
	@include color(--text-color);
	@include font-family(--text-font);
	font-style: normal;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	margin-bottom: 0.75em;
	font-size: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
	color: inherit;
}
